
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box; }


html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }


body {
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 300;
	line-height: 1.5;
	margin-right: 0;
	color: #212529;
	text-align: left;
	background-color: #fff; }
	

.content {
	padding: 2rem 0; }


.container {
	width: 98%;
	height: 85vh;
	margin-right: 5px;
	margin-left: 15px; 
	margin-top: -30px;}
	

.table th, .table td {
	padding-top: 5px;
	border-top: 1px solid #dee2e6;
	padding-left: 10px;
	padding-right: 10px;	
	}

.custom-table {
	border-collapse: collapse; 	
	display: block;
    overflow-x: auto;
	overflow-y: auto;
    white-space: nowrap;
	max-height: 100%;	}
	
.custom-table thead tr, .custom-table thead th {
	font-size: 11px;
	font-weight: 400;
	color: #555;
	border-top: none; 
	border-right: 1px solid #D9DDE0; 
	padding-bottom: 3px;
	}
	
.custom-table tbody th, .custom-table tbody td {
	color: #777;
	font-size: 11px;	
	font-weight: 400; }
	
.custom-table tbody th small, .custom-table tbody td small {
	color: #808080;
	font-size: 10px;
	font-weight: 300; }
	
.custom-table tbody tr th, .custom-table tbody tr td {
	position: relative;
	-webkit-transition: .2s all ease;
	-o-transition: .2s all ease;
	transition: .2s all ease; }

.custom-table tbody tr th:before, .custom-table tbody tr th:after, .custom-table tbody tr td:before, .custom-table tbody tr td:after {
	-webkit-transition: .2s all ease;
	-o-transition: .2s all ease;
	transition: .2s all ease;
	content: "";
	left: 0;
	right: 0;
	position: absolute;
	height: 1px;
	background: #59D680;
	opacity: 0;
	visibility: hidden; }
	
.custom-table tbody tr th:before, .custom-table tbody tr td:before {
	top: -1px; }
	
.custom-table tbody tr th:after, .custom-table tbody tr td:after {
	bottom: -1px; }
	
.custom-table tbody tr:hover th, .custom-table tbody tr:hover td {
	background: rgba(89, 214, 128, 0.1); }
	
.custom-table tbody tr:hover th:before, .custom-table tbody tr:hover th:after, .custom-table tbody tr:hover td:before, .custom-table tbody tr:hover td:after {
	opacity: 1;
	visibility: visible; }


.d-block {
	display: block !important; }
	
	
	
/*# AM Custom styles - START */
 
.logo-container {
	display: flex; 
	align-items: center; 
	justify-content: left; } 
	
.page-logo {
	background-image: url('img/scalo-logo.png'); 
	background-size: 100%;
	height: 38px; 
	width: 103px;
	background-repeat: no-repeat; 
	margin-top: -5px;}

.page-name { 
	font-size: 30px; 
	font-weight: 100;
	color: #7F7F7F;	
	padding-left: 7px;
	margin-top: 2px; }	
	
.page-details { 
	font-size: 12px; 
	font-weight: 100;
	color: #7F7F7F;	
	padding-left: 100px;
	margin-top: 5px; }	
	

#myInput {
	background-image: url('/css/img/search-ico1.png');
	background-position: 5px 7px;
	background-repeat: no-repeat;
	width: 100%;
	height: 30px;
	font-size: 12px;
	font-style: italic;
	color: #707070;
	padding: 0px 0px 0px 30px;
	border: 1px;
	margin-bottom: 14px;
	margin-top: 12px;
	outline: none;
	display: block; }

.th-pri { 
	text-align: center; }
	
.col-cent { 
	text-align: center; } 
.col-left { 
	text-align: left; } 
.col-score { 
	background-color:rgba(0, 123, 0, 0.05); }


.td-lbl span { display: none; }
.td-lbl:hover span {
	padding: 5px 10px 5px 5px;
	top: 15px;
	left: -30px;
	margin: 15px;
	display: block;
	position: absolute;
	background-color: rgba(80, 80, 80, 0.8);
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
	color: #eee;
	z-index: 1;
	font-size: 90%;
	text-align: left;
	width: max-content;  }

.th-lbl span { display: none; }
.th-lbl:hover span {
	padding: 5px 10px 5px 5px;
	margin: -45px;
	display: block;
	position: absolute;
	background-color: rgba(80, 80, 80, 0.8);
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
	color: #eee;
	z-index: 1;
	font-size: 90%;
	text-align: left;
	width: max-content;  }



.ctrl {
	width: 40px;
	height: 40px;
	margin-left: 100px;
	margin-top: 10px;
	background: url("/css/img/settings.svg") center no-repeat; }
	
.ctrl:hover { 
	filter: invert(84%) sepia(8%) saturate(2753%) hue-rotate(79deg) brightness(89%) contrast(89%); }
	
.ctrl-na {	
	width: 40px;
	height: 40px;
	margin-left: 100px;
	margin-top: 10px;
	background: url("/css/img/settings.svg") center no-repeat; 
	filter: invert(82%) sepia(6%) saturate(0%) hue-rotate(316deg) brightness(89%) contrast(80%); }

.rprt {
	width: 35px;
	height: 35px;
	margin-left: 100px;
	margin-top: 10px;
	background: url("/css/img/report.svg") center no-repeat; }

.rprt:hover { 
	filter: invert(84%) sepia(8%) saturate(2753%) hue-rotate(79deg) brightness(89%) contrast(89%); 
	border: 0;}

.rtrn {
	width: 35px;
	height: 35px;
	margin-left: 100px;
	margin-top: 10px;
	background: url("/css/img/return2.svg") center no-repeat; }

.rtrn:hover { 
	filter: invert(84%) sepia(8%) saturate(2753%) hue-rotate(79deg) brightness(89%) contrast(89%); }


.col-prio {
	background:linear-gradient(rgba(0,0,0,0.3) 0 0) 
	center /calc(100% - 30px) calc(100% - 15px) no-repeat;
	color:#fff; }


.flat-select {
	font-size: 11px;
	font-weight: 300;
	color: #555;
    padding: 5px 5px 2px 5px;
    border: 1px solid #e0e0e0;
    margin: 0 5px 5px 0;
	cursor:pointer;
  }


	
	
	
/*# AM Scroball style */

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background: #E8E8E8; 
  border-radius: 4px; }
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;  }



