<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="css/style.css">

		<title>SCALO Vacancy Priority v2</title>
		<link rel="icon" type="image/x-icon" href="css/img/favicon.png">
	</head>


	<body> 
		<div class="content">
			<div class="container">
				<div class="logo-container">
					<div class="page-logo"></div>
					<div class="page-name">| vacancy priority</div>
					
					{% if usrlvl == "admin" %}
						<a href="/clientattr" title="Change client attributes..."> <img class="ctrl"/></img> </a>
					{% else %}
						<a title="Change client attributes..."> <img class="ctrl-na"/></img> </a>
					{% endif %}
					
					<a href="/rankdetails" title="Show rank details (not working)..."> <img class="rprt"/></img> </a>
					<div class="page-details">logged as: {{usrname}} <i>({{usrlvl}})</i></div>
				</div>
				
				<div>
					<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for clients or vacancies or job role or manager..." title="Search for clients or vacancies">
				</div>

				<table class="table custom-table"  id="myTable">
					<thead>
						<tr>
							<th class="th-pri col-cent" colspan="2">SCORE</th>
							<th class="th-pri col-cent" colspan="5">Vacancy Details</th>
							<th class="th-pri col-cent col-score" colspan="7">Scoreboard</th>
							<th class="th-pri col-cent col-score" colspan="1">Exceptions</th>
						</tr>
						<tr>
							<th class="col-cent">SCORE</th>
							<th class="col-cent">Priority</th>
							<th class="col-left">Vacancy Name / Client Name {Manager)</th>
							<th class="col-left">Tech Stack / Job Role</th>
							<th class="col-left">Status</th>
							<th class="col-cent th-lbl">Age (d.)  &#128161; <span>put cursor on label for details</span> </th>
							<th class="col-cent th-lbl">Attr.  &#128161; <span>put cursor on label for details</span> </th>
							<th class="col-cent col-score">Client Type</th>
							<th class="col-cent col-score">Client Prob.</th>
							<th class="col-cent col-score">Client Recr.</th>
							<th class="col-cent col-score">Client Rel.</th>
							<th class="col-cent col-score">Vacancies</th>
							<th class="col-cent col-score">Tech Stack</th>
							<th class="col-cent th-lbl col-score">Margin  &#128161; <span>put cursor on label for details</span> </th>
							<th class="col-left th-lbl col-score">Exception  &#128161; <span>put cursor on label for details</span> </th>
						</tr>
					</thead>
					<tbody>
						<!-- variable declaration -->
						{% for row in data %}
							{% set var_score = row[0] %}
							{% set var_priority = row[1] %}
							{% set var_vacancy = row[2] %}
							{% set var_client = row[3] %}
							{% set var_jobrole = row[4] %}
							{% set var_manager = row[5] %}
							{% set var_status = row[6] %}
							{% set var_age = row[7] %}
								{% set var_opens = row[8] %}
								{% set var_short = row[9] %}
								{% set var_cvsent = row[10] %}
								{% set var_inter = row[11] %}
								{% set var_place = row[12] %}
							{% set var_attr = row[13] %}
								{% set var_hc = row[14] %}
								{% set var_in = row[15] %}
								{% set var_out = row[16] %}
							{% set var_type = row[18] %}
								{% set var_type_v = row[17] %}
							{% set var_prob = row[20] %}
								{% set var_prob_v = row[19] %}
							{% set var_recr = row[22] %}
								{% set var_recr_v = row[21] %}	
							{% set var_rel = row[24] %}
								{% set var_rel_v = row[23] %}	
							{% set var_vac = row[26] %}
								{% set var_vac_v = row[25] %}
							{% set var_stack = row[28] %}
								{% set var_stack_v = row[27] %}
							{% set var_marigin = row[30] %}
								{% set var_marigin_v = row[29] %}
								{% set var_bill = row[31] %}
								{% set var_pay = row[32] %}
								{% set var_perc = row[33] %}
								{% set var_comm1 = row[34] %}
							{% set var_except = row[36] %}
								{% set var_except_v = row[35] %}
								{% set var_comm2 = row[37] %}
							
						<tr>
							<td class="col-cent">{{var_score}}</td>
							
							{% if usrlvl == "admin" %}
								<td>
									<select class="flat-select" id="vac_priority" onchange="updateClient({{row[0]}}, this.id, this.value)">
										<option value="" selected disabled hidden>{{var_priority}}</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
									</select>
								</td>
							{% else %}
								<td class="col-cent">{{var_priority}}</td>
							{% endif %}							
							
							<td class="col-left">{{var_vacancy}} <small class="d-block">{{var_client}} <i>({{var_manager}})</i></small> </td>
							<td class="col-left">{{var_stack}} <small class="d-block">{{var_jobrole}}</small> </td>
							<td class="col-left">{{var_status}}</td>
							<td class="col-cent td-lbl">{{var_age}} <span>openings: {{var_opens}} <br> shortlist: {{var_short}} <br> cvsent: {{var_cvsent}} <br> interviews: {{var_inter}} <br> placements: {{var_place}}</span> </td>
							<td class="col-cent td-lbl">{{var_attr}} <span>HC: {{var_hc}} <br> IN: {{var_in}} <br> OUT: {{var_out}}</span> </td>
							<td class="col-cent col-score">{{var_type}} <small class="d-block">{{var_type_v}}</small> </td>
							<td class="col-cent col-score">{{var_prob}} <small class="d-block">{{var_prob_v}}</small> </td>
							<td class="col-cent col-score">{{var_recr}} <small class="d-block">{{var_recr_v}}</small> </td>
							<td class="col-cent col-score">{{var_rel}} <small class="d-block">{{var_rel_v}}</small> </td>
							<td class="col-cent col-score">{{var_vac}} <small class="d-block">{{var_vac_v}}</small> </td>
							<td class="col-cent col-score">{{var_stack}} <small class="d-block">{{var_stack_v}}</small> </td>
							<td class="col-cent td-lbl col-score">{{var_marigin}} <small class="d-block">{{var_marigin_v}}</small> <span>bill rate: {{var_bill}} <br> pay rate: {{var_pay}} <br> m perc: {{var_perc}} <br> comm: {{var_comm1}}</span> </td>
							<td class="col-left td-lbl col-score">{{var_except}} <small class="d-block">{{var_except_v}}</small> <span>exc comm: {{var_comm2}}</span> </td>
							{% endfor %}
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
		
		
		
	<!-- Script for search function -->
	<script>
	function myFunction() {
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("myInput");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[2];
		td1 = tr[i].getElementsByTagName("td")[3];
		if (td || td1) {
		  txtValue = (td.textContent || td.innerText) + (td1.textContent || td1.innerText);
		  if (txtValue.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}       
	  }
	}
	</script>
	
	
	</body>
</html>