<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="css/style.css">	<!-- Style -->

		<title>SCALO Vacancy Priority</title>
		<link rel="icon" type="image/x-icon" href="css/img/favicon.png">
	</head>
  
	<!-- -->
  
	<body>

		<div class="content">

			<div class="container-fluid">
			
				<div class="am-container">
					<!-- <div class="am-image"> <img src="css/logo-scalo.jpg"> </div> -->
					<div class="am-image"></div>
					<div class="am-text"> | vacancy priority </div>		<!--  -> logged as: {{usrname}} (level: {{usrlvl}})  -->
			
					<!-- <div> <button class="am-button-descr"> </button> </div>	-->
					<!-- <div> <button class="am-button-rep"> </button> </div>		-->
					
					{% if usrlvl == "admin" %}
					<div> <button class="am-button-attr" onclick="/clientatr"> </button> </div>
					{% endif %}
					
					<div class="am-usrname"> <b>logged as:</b> {{usrname}} <small class="d-block"> <b>user level:</b> {{usrlvl}}</small> </div>
				</div>
				

				<div class="table-responsive">

					<div>
						<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for clients or vacancies or job role or manager..." title="Search for clients or vacancies">
					</div>
				
				
					<table class="table custom-table" id="myTable">
						<thead>
							<tr>
								<th class="th-pri col-score" colspan="2">SCORE</th>
								<th class="th-pri" colspan="5">Vacancy Details</th>
								<th class="th-pri col-score" colspan="7">Scoreboard</th>
								<th class="th-pri" colspan="1">Exceptions</th>
							</tr>
							<tr>
								<th class="col-center col-score">SCORE</th>
								<th class="col-center col-score">Priority</th>
								<th>Vacancy Name / Client Name</th>
								<th>Job Role / Manager</th>
								<th>Status</th>
								<th class="th-lbl col-center">Age days <font color="red"><b>!</b></font> <span>put cursor on label for details</span> </th>
								<th class="th-lbl col-center">Attr. <font color="red"><b>!</b></font> <span>put cursor on label for details</span> </th>
								<th class="col-center col-score">Client Type</th>
								<th class="col-center col-score">Client Prob.</th>
								<th class="col-center col-score">Client Recr.</th>
								<th class="col-center col-score">Client Rel.</th>
								<th class="col-center col-score">Vacancies</th>
								<th class="col-center col-score">Tech Stack</th>
								<th class="th-lbl col-center col-score">Margin <font color="red"><b>!</b></font> <span>put cursor on label for details</span> </th>
								<th class="th-lbl">Exception <font color="red"><b>!</b></font> <span>put cursor on label for details</span> </th>
							</tr>
						</thead>
						<tbody>
							{% for row in data %}
							<tr>
								<td class="col-center col-score">{{row[0]}}</td>
								<td class="col-center col-score">{{row[1]}}</td>
								<td>{{row[2]}}<small class="d-block">{{row[3]}}</small> </td>
								<td>{{row[4]}}<small class="d-block">{{row[5]}}</small> </td>
								<td>{{row[6]}}</td>
								<td class="td-lbl col-center">{{row[7]}} <span>openings: {{row[8]}} <br> shortlist: {{row[9]}} <br> cvsent: {{row[10]}} <br> interviews: {{row[11]}} <br> placements: {{row[12]}}</span> </td>
								<td class="td-lbl col-center">{{row[13]}} <span>HC: {{row[14]}} <br> IN: {{row[15]}} <br> OUT: {{row[16]}}</span> </td>
								<td class="col-center col-score">{{row[18]}}<small class="d-block">{{row[17]}}</small> </td>
								<td class="col-center col-score">{{row[20]}}<small class="d-block">{{row[19]}}</small> </td>
								<td class="col-center col-score">{{row[22]}}<small class="d-block">{{row[21]}}</small> </td>
								<td class="col-center col-score">{{row[24]}}<small class="d-block">{{row[23]}}</small> </td>
								<td class="col-center col-score">{{row[26]}}<small class="d-block">{{row[25]}}</small> </td>
								<td class="col-center col-score">{{row[28]}}<small class="d-block">{{row[27]}}</small> </td>
								<td class="td-lbl col-center col-score">{{row[30]}} <small class="d-block">{{row[29]}}</small> <span>bill rate: {{row[31]}} <br> pay rate: {{row[32]}} <br> m perc: {{row[33]}} <br> comm: {{row[34]}}</span> </td>
								<td class="td-lbl">{{row[36]}} <small class="d-block">{{row[35]}}</small> <span>exc comm: {{row[37]}}</span> </td>									
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				
			</div>

		</div>
		
		
	<!-- Script for search function -->
	<script>
	function myFunction() {
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("myInput");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[2];
		td1 = tr[i].getElementsByTagName("td")[3];
		if (td || td1) {
		  txtValue = (td.textContent || td.innerText) + (td1.textContent || td1.innerText);
		  if (txtValue.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}       
	  }
	}
	</script>
	

	</body>
</html>

<!-- 
	<script>
	function myFunction() {
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("myInput");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[2]);
		if (td) {
		  txtValue = td.textContent || td.innerText;
		  if (txtValue.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}       
	  }
	}
	</script>
-->